<ul class="sidenav">
{% for p in site.pages %}
	{% if p.navigation_page %}
		{% assign dtitle = p.title | downcase %}
		{% if p.title == page.title or dtitle contains page.layout %}
		  <li><a class="active", href="{{ p.url | relative_url }}"> {{ p.title }} </a></li>
		{% else %}
		  <li><a href="{{ p.url | relative_url }}"> {{ p.title }} </a></li>
		{% endif %}
	{% endif %}
{% endfor %}

<div class="show_900">
{% if page.layout == "project" or page.title == "Projects" %}
	{% assign projects = site.projects | sort: "date" | reverse %}
	{% for p in projects %}
		{% if p.title == page.title %}
		  <li><a class="show_900 sm active", 
		  style="background-color:#9999ff;", 
		  href="{{ p.url | relative_url }}"> {{ p.title }} </a></li>
		{% else %}	
		  <li><a class="show_900 sm", 
		  href="{{ p.url | relative_url }}"> {{ p.title }} </a></li>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
</ul>
