body {
  margin: 0;
  }
  

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 19%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 22px;
  font-weight: bold;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align:left;
}

ul.sidenav li a.sm {
  font-size:14px;
  padding-left: 22px;
}
 
ul.sidenav li a.active {
  background-color: #290098;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 19%;
  padding: 1px 16px;
  padding-top:20px;
  max-width: 800px;
}

.content_hl{ 
  margin-top:72px;
  margin-bottom:26px;
  height:1px;
  border-width:0;
  color:gray;
  background-color:gray; 
  opacity:0.5;
}


.hide_900{
  display: none;
}
  

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
	font-size: 16px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	text-align: center;
	list-style: none;
	border:0;
  }
  
  
  ul.sidenav li a {
    float: left;
	width: 33.333%;
	text-align:center;
	padding:0;
	padding-top:12px;
	padding-bottom:12px;
  }
  
  ul.sidenav li a.sm {
	font-size:14px;
	padding-left: 22px;
  }
  
  div.content {
	margin-left: 0;
	margin-top: 12px;
	max-width: 800px;
  }
  
  .hide_900{
	display: inline;
  }
  
  .show_900{
	display: none;
  }
  
}


@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: left;
	font-size: 16px;
  }
}

