body {
  margin: 0;
  }

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 19%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 22px;
  font-weight: bold;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.sm {
  font-size:14px;
  padding-left: 22px;
}
 
ul.sidenav li a.active {
  background-color: #290098;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 19%;
  padding: 1px 16px;
  padding-top:20px;
}

.hide_900{
  display: none;
}
  

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
	font-size: 16px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  ul.sidenav li a.sm {
	font-size:14px;
	padding-left: 22px;
  }
  
  div.content {
	margin-left: 0;
	margin-top: 12px;
	max-width: 800px;
  }
  
  .hide_900{
	display: inline;
  }
  
  .show_900{
	display: none;
  }
  
}


@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: left;
	font-size: 16px;
  }
}